<<<<<<< HEAD

=======
body, html {
  height: 100%;
}

.bg {
  background-image: url("Pick-your-Poison\IMAGES\ABOUT\HOME_IMAGE_2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#title{
  padding-top:45px;
  padding-bootom: 20px;
  font-size:90px;
  text-shadow:4px 4px 6px #000000;
  font-family: Verdana,sans-serif;
}
>>>>>>> 60d9d15021f5d42f1f37957919794bd6dc7971d2
#header{
  color:white;
  text-align: center;
}
/*#leftBar{
  width:92%;
  margin-bottom:10%;
  margin-top:+15%;
}*/
#leftsection{
  position: fixed;
  top: 150px;
  margin-top: 2%;
  margin-bottom: 80%;
  width: 25%;
  border-radius: 8px;
  line-height: 25px;
  float:left;
  padding: 15px;
  margin-left: 5%;
  background-color: white;
}
