body, html {
  height: 100%;
}

.bg {
  background-image: url("Pick-your-Poison\IMAGES\ABOUT\HOME_IMAGE_2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#title{
  padding-top:45px;
  padding-bootom: 20px;
  font-size:90px;
  text-shadow:4px 4px 6px #000000;
  font-family: Verdana,sans-serif;
}
#header{
  color:white;
  text-align: center;
}
/*#leftBar{
  width:92%;
  margin-bottom:10%;
  margin-top:+15%;
}*/
#left section{
  border-radius: 8px;
  line-height: 35px;
  float:left;
  padding: 15px;
  margin-left: 5%;
  background-color: white;
}
