
#header{
  color:white;
  text-align: center;
}
/*#leftBar{
  width:92%;
  margin-bottom:10%;
  margin-top:+15%;
}*/
#leftsection{
  position: fixed;
  top: 150px;
  margin-top: 2%;
  margin-bottom: 80%;
  width: 25%;
  border-radius: 8px;
  line-height: 25px;
  float:left;
  padding: 15px;
  margin-left: 5%;
  background-color: white;
}
